* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--Green: rgb(197, 248, 42);
	--White: rgb(255, 255, 255);
	--Grey-700: rgb(51, 51, 51);
	--Grey-800: rgb(31, 31, 31);
	--Grey-900: rgb(20, 20, 20);
}

html {
	font-size: 62.5%;
}

body {
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Inter";
	background-color: var(--Grey-900);
}

.socjal-links-box {
	width: 90%;
	max-width: 40rem;
	padding: 3em;
	text-align: center;
	background-color: var(--Grey-800);
	border-radius: 8px;
}

.socjal-links-box__img {
	width: 10rem;
	margin-bottom: 3em;
	border-radius: 50%;
}

.socjal-links-box__name,
.socjal-links-box__text,
.socjal-links-box__link {
	color: var(--White);
}

.socjal-links-box__name {
	margin-bottom: 0.4em;
	font-size: 2.2rem;
}

.socjal-links-box__address {
	margin-bottom: 1.4em;
	font-size: 1.3rem;
	font-weight: 600;
	color: var(--Green);
}

.socjal-links-box__text {
	margin-bottom: 1.6em;
	font-size: 1.4rem;
}

.socjal-links-box__links {
	display: flex;
	flex-direction: column;
	gap: 1.6em;
}

.socjal-links-box__link {
	padding: 1em;
	font-size: 1.6rem;
	font-weight: 600;
	text-decoration: none;
	background-color: var(--Grey-700);
	border-radius: 8px;
	transition: color 0.5s, background-color 0.5s;
}

.socjal-links-box__link:hover {
	color: var(--Grey-700);
	background-color: var(--Green);
}
